:root {
  --gold: #DEBF79;
  --dark-gray-background: #222222;
  --mid-gray-text: #858585;
  --light-gray-inputs: #F5F5F5;
  --red: #800000;
  --font-family: 'Poppins', sans-serif;
  --font-weight-medium: medium;
  --font-weight-bold: bold;
  --font-size-paragraph: 14px;
  --font-size-nav: 18px;
  --font-size-header-one: 48px;
  --font-size-header-two: 36px;
  --font-size-header-three: 18px;
}

body {
  background-color: var(--dark-gray-background);
}

.app {
  font-family: var(--font-family);
  max-width: 1250px;
  margin: auto;
}

.title--h1 {
  font-size: var(--font-size-header-one);
}


.title--h2 {
  font-size: var(--font-size-header-two);
}

.title--h3 {
  font-size: var(--font-size-header-three);
  font-weight: var(--font-weight-medium);
  word-spacing: 0.4rem;
  line-height: 1.65rem;
}

.text--white {
  color: var(--light-gray-inputs);
}

.title--underline {
  padding-bottom: 2px;
  border-bottom: 4px solid var(--gold);
}


/* TextBlock */
.textblock-container {
  margin: auto;
}

.textblock-title {
  margin: 32px 24px;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.nav_logo {
  max-width: 60%;
  height: auto;
}

.nav_link {
  text-decoration: none;
  color: var(--gold);
  text-transform: lowercase;
  font-size: var(--font-size-nav);
}

/* Card.js */
.card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  background-color: var(--light-gray-inputs);
  margin: 4px;
  border-radius: 4px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.card_img {
  margin: auto;
}

.card_title, .card_text {
  text-align: left;
  width: 100%;
  max-width: 320px;
  margin: 24px auto;
}

.card_title {
  color: var(--dark-gray-background);
  font-size: var(--font-size-header-two);
  margin-bottom: 16px;
}

.card_text {
  color: var(--mid-gray-text);
  margin-top: auto;
  line-height: 1.65rem;
  word-spacing: 0.15rem;
}

.card_text, .button {
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-medium);
}

.button {
  background-color: var(--gold);
  color: var(--light-gray-inputs);
  font-family: var(--font-family);
  padding: 12px 24px;
  border: none;
  margin-top: auto;
}

@media only screen and (min-width: 600px) {
  .nav_logo {
    max-width: unset;
  }

  .card-container {
    margin: 48px auto;
  }

  .card {
    flex-grow: 0;
  }

  .textblock-title {
    margin: 32px 16px;
  }
}

@media only screen and (min-width: 1250px) {
  .card-container {
    justify-content: space-evenly;
  }
}